Hauptziele:
Algorithmus umsetzen und weiterentwickeln
	- Nagel-Schreckenberg-Modell
	- Mehrere Fahrspuren
	- "Karte" mit Zoom
Messgrössen visualisieren und verändern (Verkehrsfluss / Verkehrssituation)
	- km/h
	- Autos pro Minute auf einem Teilstück
	- Verkehrsdichte
	- Einstellungsmöglichkeiten Parameter
	- Parameter-Presets
	- Parameter während der Laufzeit verändern
Ansprechende Darstellung (30 FPS / Interpolierte Zwischenschritte / Animierte Spurwechsel)
	- Läuft flüssig (30FPS) und Ressourcenschonend
	- Step-by-Step-Modus
Realitsnahes Modell
	- Autos / Fahrer haben ein Ziel
	- Baustellen
	- Geschwindigkeitsbeschränkungen
	- verschiedene Fahrverhalten von Fahrern
	- Fahrspurverengungen
	- Ampeln
	- Ausfahrten und Einfahrten / Kreuzungen

Was können wir alles einbaunen?
Soll
Nice-to-have
Out of scope

